@using Kanelson.Domain.Rooms
@inherits MudComponentBase
<MudList>
    <span class="host-identifier"><MudIcon Icon="@Icons.Material.Filled.Person" Size="Size.Small"/> @Localizer["ConnectedUsers"]</span>
    @foreach (var user in ConnectedUsers)
    {
        <MudListItem>
            <MudStack Row="true" AlignItems="AlignItems.Center" Spacing="1">
                <Avatar GithubId="@user.Id"/>
                @if (user.Owner)
                {
                    <span class="host-identifier">[@Localizer["Host"]]</span>
                }
                <span class="text-wrap">@user.Name</span>

            </MudStack>
        </MudListItem>
    }
</MudList>

@code {

    [Parameter]
    public HashSet<RoomUser> ConnectedUsers { get; set; } = new();

    [Inject]
    private IStringLocalizer<Shared> Localizer { get; set; } = null!;

}