<h3>Admin</h3>

@code {

    [Parameter]
    public string RoomId { get; set; } = null!;

    protected override Task OnParametersSetAsync()
    {
        
        return base.OnParametersSetAsync();
    }

}