@page "/room/{Id}"
@using global::Shared.Models
@using Kanelson.Services
@inject IRoomService _roomService
@inject IUserService _userService
<h2>Sala: @Id</h2>

@if (_summary is not null)
{
    @if (_summary.Owner.Id == _userService.CurrentUser)
    {
        <Player RoomId="@Id"></Player>
        //<Admin RoomId="@Id"></Admin>
    }
    else
    {
        <Player RoomId="@Id"></Player>
    }
}
else
{
    <div>Carregando...</div>
}

@code {

    RoomSummary? _summary;

    [Parameter]
    public string Id { get; set; } = null!;
    
    protected override async Task OnInitializedAsync()
    {
        _summary = await _roomService.Get(Id);
        await base.OnInitializedAsync();
    }



}