@page "/"

<PageTitle>Kanelson</PageTitle>

<div class="home-welcome">
    <div class="home-welcome__logo">
        <span class="k-logo-xl__ka">Ka</span><span class="k-logo-xl__nelson">nelson</span>
    </div>
    <p class="home-welcome__tagline">Host live quizzes. Engage your audience in real time.</p>
    <a href="/rooms" class="k-btn-primary" style="text-decoration: none; display: inline-block;">Go to Rooms</a>
</div>
