@using Components.CardRoom;

<!-- Voltar aqui, exception user conectado - usar mud? -->
<div class="card-room">
    <div class="card-room__image" style="background-image: url(@Avatar.GetUrlFromId(HostId))"></div>
    <div class="card-room_info">
        <div class="card-room__id">
            <div class="card-room__name">
                <h6 class="room-name">@RoomName</h6>
                @if (RoomOwner)
                {
                    <MudIcon Icon="@Icons.Material.Filled.Cancel"
                             Size="Size.Small" style="cursor: pointer"
                             @onclick="HandleDeleteRoomClick"></MudIcon>
                }
            </div>
            <span>#@Id</span>
        </div>
        <div class="card-room__enter">
            <button class="card-room__btn-enter" @onclick="HandleEnterRoomClick">Entrar</button>
        </div>
    </div>
</div>
