@using System.Security.Claims
@using Microsoft.AspNetCore.Components.Rendering
<AuthorizeView>
    <Authorized>

        <Avatar GithubId="@context.User.FindFirstValue(ClaimTypes.NameIdentifier)"/> @context.User.Identity?.Name! 
        <form method="post" action="signout">
            <button type="submit" class="nav-link btn btn-link">Log out</button>
        </form>
    </Authorized>
    <NotAuthorized>
        <a href="signin">Log in</a>
    </NotAuthorized>
</AuthorizeView>
