@using System.Security.Claims
@using Microsoft.AspNetCore.Components.Rendering
@inject NavigationManager NavigationManager

<AuthorizeView>
    <Authorized>
        <div class="d-inline-flex">
            <div class="d-inline"><Avatar GithubId="@context.User.FindFirstValue(ClaimTypes.NameIdentifier)"/></div>
            <div class="d-inline pa-2 mud-theme-dark" style="align-self:center">@context.User.Identity?.Name!</div>
        </div>
        <MudDivider/>
        <form method="post" action="signout">
            <MudButton ButtonType="ButtonType.Submit">Logout</MudButton>
        </form>
    </Authorized>
    <NotAuthorized>
        <div >
            
        </div>
        <form action="/signin" method="post">
            <input type="hidden" name="Provider" value="GitHub"/>
            <input type="hidden" name="RedirectUri" value="@NavigationManager.Uri"/>
            <MudFab ButtonType="ButtonType.Submit"
                    StartIcon="@Icons.Custom.Brands.GitHub" Label="Login with Github" />
        </form>
    </NotAuthorized>
</AuthorizeView>
