@using System.Security.Claims
<AuthorizeView>
    <Authorized>
        Hello, @context.User.Identity?.Name! - @context.User.FindFirstValue(ClaimTypes.NameIdentifier)
        <form method="post" action="signout">
            <button type="submit" class="nav-link btn btn-link">Log out</button>
        </form>
    </Authorized>
    <NotAuthorized>
        <a href="signin">Log in</a>
    </NotAuthorized>
</AuthorizeView>