@inject IStringLocalizer<Shared> Loc
<div class="card-room">
    <div class="card-room__icon">
        <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 24 24" fill="currentColor" style="opacity:0.7">
            <path d="M4 6H2v14c0 1.1.9 2 2 2h14v-2H4V6zm16-4H8c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2V4c0-1.1-.9-2-2-2zm-1 9H9V9h10v2zm-4 4H9v-2h6v2zm4-8H9V5h10v2z"/>
        </svg>
    </div>
    <div class="card-room__body">
        <div class="card-room__header">
            <span class="card-room__name">@RoomName</span>
            @if (RoomOwner)
            {
                <button class="card-room__delete" @onclick="HandleDeleteRoomClick" title="Delete room">
                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="currentColor">
                        <path d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zM19 4h-3.5l-1-1h-5l-1 1H5v2h14V4z"/>
                    </svg>
                </button>
            }
        </div>
        <span class="card-room__id">#@Id</span>
    </div>
    <button class="card-room__enter" @onclick="HandleEnterRoomClick">@Loc["Join"]</button>
</div>
